* {
    margin: 0%;
    padding: 0%;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    background: url("/political-na-postsovet-space/country/russia/4f03ad960b11c5859d1039cf3fd1d1dc.jpg");
    background-image: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 15px;
    height: 100%;

}



main {

    width: 100%;
    height: auto;
}

p {
    text-indent: 30px;
}

#gimn {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
}



#ussr {
    padding-left: 0px;
    /* Отступ слева */
    padding-bottom: 0px;
    /* Отступ снизу */
}

.a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.ussr {
 
    color: white;
    
}

.kal {
    width: 100%;
}
img{
    width: 100%;
    border-radius: 20px;
}
div a {
    text-decoration: none;
    color: white;
    margin: 2%;
}

div a:hover {
    text-decoration: none;
    color: red;
    margin: 2%;
}
.sos{
    text-decoration: none;
    color: white;
    margin: 0%;
}
.sos:hover{
    text-decoration: none;
    color: red;
    margin: 0%;
}



.president {
    color: white;
    text-align: center;
    background: linear-gradient(to top right, rgb(51, 0, 0), rgb(55, 9, 9), rgb(58, 9, 9), rgb(62, 8, 8), rgb(65, 42, 8), rgb(81, 8, 8), rgb(8, 72, 98), rgb(8, 76, 114), rgb(8, 79, 130), rgb(7, 83, 146), rgb(7, 86, 163), rgb(7, 90, 179));
    ;
    border: solid 5px;
    border-radius: 40px;
    border-bottom-color: green;
    border-top-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.preside{
    border-radius: 20px;
    border: solid 1px;
    padding: 10px;
}
.glava {
    margin: 1%;
}

.flags {
    border-radius: 3px;
}

.pres {
    border-radius: 20px;
    width: 250px;
    padding: auto;
    border: solid 5px;
    border-color: red;
}

.press {
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: solid 5px;
    border-color: red;
}

.rf-flags {
    width: 250px;
    text-align: center;
    margin: auto;
 border-radius: 20px;
}
.rf {
    width: 250px;
    text-align: center;
    margin: auto;
 
}

.ogranicheno{
    background: red;
}
.sred1{
  background: #f64a16;
}
.polu-ogranicheno{
    background: #ed812b;
}
.sred2{
    background: #c2f616;
}
.razresheno{
    background: green;
}
footer{
    background: #00000000;
}