*{
    padding: 0%;
    margin: 0%;
}
header{
    width:100%;
    background-color: brown;
}
main{
    width: 100%;
    background-color: #552343;
}
footer{
    width: 100%;
    background-color: darkblue;
}
body, html{
    background: black;
    color: white;
}