* {
    margin: 0%;
    padding: 0%;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    text-align: auto;
    background-color: black;
    font-size: 15px;
    height: 100%;
}

header {
    color: white;
    background-color: #155a15;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header div {
    color: white;
    background-color: #1c771c;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header a {
    text-decoration: none;
    color: white;
    margin: 2%;
}

#id {
    text-decoration: none;
    color: red;
    margin: 2%;
}

#nav-country {
    color: white;
    background-color: #155a15;
    width: 100%;
    height: auto;
    display: flex;
    font-size: 17px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

header a:hover {
    text-decoration: none;
    color: red;
}

main {
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
}

p {
    text-indent: 30px;
}

#gimn {
    margin-left: 15%;
    margin-right: 15%;
}

h1 {
    margin-left: 20%;
    margin-right: 20%;
}

h2 {
    margin-left: 20%;
    margin-right: 20%;
}

h3 {
    margin-left: 20%;
    margin-right: 20%;
    font-weight: 600;
}

footer{
    width: 100%;
    height: auto;
    background: #dad9d9 ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: left;
}
footer  div  a{
    text-decoration: none;
    font-size: 15px;
    color: #3d3d3d;
}
footer a:hover{
    text-decoration: none;
    color: red;
}

#ussr {
    padding-left: 0px;
    /* Отступ слева */
    padding-bottom: 0px;
    /* Отступ снизу */
}

.a {
    text-decoration: none;
    font-size: 15px;
    color: #fff;
}

.ussr {
    background-color: black;
    color: white;
}

.kal {
    width: 100%;
}
img{
    width: 100%;
    border-radius: 20px;
}
div a {
    text-decoration: none;
    color: white;
    margin: 2%;
}

div a:hover {
    text-decoration: none;
    color: red;
    margin: 2%;
}
.sos{
    text-decoration: none;
    color: white;
    margin: 0%;
}
.sos:hover{
    text-decoration: none;
    color: red;
    margin: 0%;
}



.president {
    color: white;
    text-align: center;
    background: linear-gradient(to top right, rgb(51, 0, 0), rgb(55, 9, 9), rgb(58, 9, 9), rgb(62, 8, 8), rgb(65, 42, 8), rgb(81, 8, 8), rgb(8, 72, 98), rgb(8, 76, 114), rgb(8, 79, 130), rgb(7, 83, 146), rgb(7, 86, 163), rgb(7, 90, 179));
    ;
    border: solid 5px;
    border-radius: 40px;
    border-bottom-color: green;
    border-top-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.glava {
    margin: 1%;
}

.flags {
    border-radius: 3px;
}

.pres {
    border-radius: 20px;
    width: 250px;
    padding: auto;
    border: solid 5px;
    border-color: red;
}

.press {
    width: 300px;
    text-align: center;
    margin: auto;
    border-radius: 20px;
    border: solid 5px;
    border-color: red;
}

.rf-flags {
    width: 250px;
    text-align: center;
    margin: auto;
 border-radius: 20px;
}
.rf {
    width: 250px;
    text-align: center;
    margin: auto;
 
}